@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
html,
body,
#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.sidebar {
  flex-shrink: 0;
  height: 100%;
}

.content {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 1px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #1f2a40;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Define the animation */
@keyframes scroll {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
/* Apply the animation to the element */
.loginscreen {
  animation: scroll 30s linear infinite;
}

.offerItem {
  transition: all 0.2s ease-in-out;
}

.offerItem:hover {
  background-color: rgba(62, 205, 174, 0.826);
  transform: scale(0.97);
}
@media only screen and (max-width: 768px) {
  .nivo_x_axis .nivo_tick text {
    display: none;
  }

  /* .content {
    padding-bottom: 80px;
  } */
  html,
  body,
  #root {
    overflow-y: scroll;
  }
  .app {
    overflow-y: scroll;
  }
  .content::-webkit-scrollbar {
    display: none;
  }

  .content {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
}
::-webkit-search-cancel-button,
::-webkit-search-decoration,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
  display: none;
}
