@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: grid;
  grid-template-columns: 1fr 20fr;

  position: relative;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background: #a4a9fc;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* .css-wc9pnx-muidatagrid-root .muidatagrid-columnheader:focus-within,
.css-wc9pnx-muidatagrid-root .muidatagrid-cell:focus-within {
  outline: none !important;
}
.css-wc9pnx-MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
.css-wc9pnx-MuiDataGrid-root .MuiDataGrid-cell:focus {
  outline: none !important;
}
.css-1kt8ah5-MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
.css-1kt8ah5-MuiDataGrid-root .MuiDataGrid-cell:focus {
  outline: none !important;
} */
