@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.sidebar {
  overflow-y: scroll;
  flex-shrink: 0;
}
.content {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 1px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #a4a9fc;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Define the animation */
@keyframes scroll {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
/* Apply the animation to the element */
.loginscreen {
  animation: scroll 30s linear infinite;
}

.offerItem {
  transition: all 0.2s ease-in-out;
}

.offerItem:hover {
  background-color: rgba(62, 205, 174, 0.826);
  transform: scale(0.97);
}
/* .css-wc9pnx-muidatagrid-root .muidatagrid-columnheader:focus-within,
.css-wc9pnx-muidatagrid-root .muidatagrid-cell:focus-within {
  outline: none !important;
}
.css-wc9pnx-MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
.css-wc9pnx-MuiDataGrid-root .MuiDataGrid-cell:focus {
  outline: none !important;
}
.css-1kt8ah5-MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
.css-1kt8ah5-MuiDataGrid-root .MuiDataGrid-cell:focus {
  outline: none !important;
} */
